# Linux
.*
!.gitignore
*~

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# SublimeText
*.last-run
*.sublime-keymap
*.sublime-project
*.sublime-settings
*.sublime-workspace
!Emmet.sublime-settings
!Fetch.sublime-settings
!Markdown.sublime-settings
!Package Control.sublime-settings
!Preferences.sublime-settings
*.tmLanguage
*.tmLanguage.cache
*.json
